<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    {#Bootstrap#}
    <link href="{{ url_for('static',filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>

    {#CodeMirror#}
    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.61.0/lib/codemirror.min.css">#}
    {#    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.61.0/addon/runmode/runmode-standalone.min.js"></script>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.61.0/mode/python/python.min.js"></script>#}

    <link href="{{ url_for('static',filename='cm/codemirror.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='cm/runmode-standalone.js') }}"></script>
    <script src="{{ url_for('static',filename='cm/python.js') }}"></script>

    {#extra css#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/extra.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Site Title</title>
</head>
<body style="background-image: url('{{ url_for('static',filename='img/bg.webp') }}');">
{% include "navbar.html" %}
<div class="container py-3">
    {% include "messages.html" %}
    {% block the_body %}
    {% endblock %}
</div>
</body>
</html>