<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Administration</a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{ url_for('members') }}">Gestion des membres</a></li>
    <li><a class="dropdown-item" href="{{ url_for('groups') }}">Gestion des groupes</a></li>
    <li><a class="dropdown-item" href="#">Gestion des questions</a></li>
    <li><a class="dropdown-item" href="#">Gestion des QCMs</a></li>
  </ul>
</li>&nbsp;&nbsp;